html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: "HelveticaNeueLTStd";
}
header {
  height: 750px;
  width: 100%;
  position: relative;
  background-image: url(/home/benoit/CODA/Exo2-Css/img/image-499666622.jpg);
  background-size: 100%;
}
#logo {
  position: absolute;
  margin-top: 2%;
  margin-left: 11%;
}
#barre {
  position: absolute;
  margin-top: 4%;
  margin-left: 60%;
  font
}
