html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: "HelveticaNeueLTStd";
}
header {
  height: 750px;
  width: 100%;
  position: relative;
  background-image: url(/home/benoit/CODA/Exo2-Css/img/image-499666622.jpg);
  background-size: 100%;
}
#b-logo {
  position: absolute;
  margin-top: 2%;
  margin-left: 20%;
}
#b-barre {
  position: absolute;
  margin-top: 4%;
  margin-left: 60%;
  color: white;
  font-size: 20px;
}
#b-accroche {
  position: absolute;
  margin-top: 14%;
  margin-left: 20%;
  color: white;
  font-size: 50px;
}
#b-explication {
  position: absolute;
  margin-top: 27%;
  margin-left: 19%;
  color: white;
  font-size: 25px;
}
#b-bouton {
  position: absolute;
  margin-top: 31%;
  margin-left: 19%;
  height: 60px;
  width: 200px;
  color: white;
  background-color: #E57837;
  font-size: 25px;

}
